@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #918787;
}
